@import url(../../../node_modules/bootstrap/dist/css/bootstrap.min.css);
#sales-dashboard .sales-control {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  font-size: 30px; }

#sales-dashboard .sales-counter {
  text-align: center; }
  #sales-dashboard .sales-counter span {
    font-size: 100px;
    position: relative;
    top: 45px; }

#top-nav-bar .logout-btn {
  margin-right: 16px; }

.error-field {
  color: red; }

#login-page h4 {
  margin-bottom: 30px; }
